<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @table.name %>
</p>

<p>
  <b>Number:</b>
  <%= @table.number %>
</p>

<p>
  <b>Kokugo:</b>
  <%= @table.kokugo %>
</p>

<p>
  <b>Sansu:</b>
  <%= @table.sansu %>
</p>

<p>
  <b>Eigo:</b>
  <%= @table.eigo %>
</p>

<p>
  <b>Mess:</b>
  <%= @table.mess %>
</p>


<%= link_to 'Edit', edit_table_path(@table) %> |
<%= link_to 'Back', tables_path %>
