<h1>詳細表示</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>名前:</b>
  <%= @table.name %>
</p>

<p>
  <b>学籍番号:</b>
  <%= @table.number %>
</p>

<p>
  <b>国語:</b>
  <%= @table.kokugo %>
</p>

<p>
  <b>算数:</b>
  <%= @table.sansu %>
</p>

<p>
  <b>英語:</b>
  <%= @table.eigo %>
</p>

<p>
  <b>コメント:</b>
  <%= @table.mess %>
</p>


<%= link_to '編集', edit_table_path(@table) %> |
<%= link_to '戻る', tables_path %>
